@use '../abstracts' as *;

input, 
textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}

input[type=submit]{
    background-color: $primary;

    &:hover{
        background-color: $primary-hover;
    }
}